@* <div class="text-center"> *@
@*     <form method="post" asp-controller="Passport" asp-action="UpdatePassport"> *@
@*         <button type="submit">Сгенерировать</button> *@
@*     </form> *@
@* </div> *@
<section class="block_project">
    <img src="~/html/img/major-logo/major_logo.png" class="fiit_logo" alt="Логотип ФИИТ">
    <span class="project">
        <h1 class="head_project">Проектная работа на ФИИТ</h1>
        <p class="text_project">
            Какой-то текст о проектной работе на ФИИТ<br>
            Какой-то текст о проектной работе на ФИИТ<br>
            Какой-то текст о проектной работе на ФИИТ<br>
            Какой-то текст о проектной работе на ФИИТ<br>
            Какой-то текст о проектной работе на ФИИТ<br>
        </p>
    </span>
</section>
<section class="block_business">
    <h1 class="head_business">Почему бизнесу стоит работать со студентами ФИИТ</h1>
    <p class="text_business">
        Какой-то текст о том, почему бизнесу стоит работать со студентами ФИИТ<br>
        Какой-то текст о том, почему бизнесу стоит работать со студентами ФИИТ<br>
        Какой-то текст о том, почему бизнесу стоит работать со студентами ФИИТ<br>
        Какой-то текст о том, почему бизнесу стоит работать со студентами ФИИТ<br>
    </p>
</section>
<section class="block_real_projects">
    <h1 class="head_real_projects">Реализованные проекты</h1>
    <a href="" class="real_project_text">
        <h2 class="head_real_project_text">Какой-то заголовок статьи</h2>
        <span class="preview_real_project_text">Какое-то превью статьи</span>
    </a>
    <a href="" class="real_project_text">
        <h2 class="head_real_project_text">Какой-то заголовок статьи</h2>
        <span class="preview_real_project_text">Какое-то превью статьи</span>
    </a>
    <a href="" class="real_project_text">
        <h2 class="head_real_project_text">Какой-то заголовок статьи</h2>
        <span class="preview_real_project_text">Какое-то превью статьи</span>
    </a>
    <a href="" class="real_project_url">Больше статей можете прочитать там то там то</a>
</section>
<form method="get" asp-controller="Passport" asp-action="AboutProject">
    <button type="submit" class="fill_form">Заполнить анкету</button>
</form>