@model Fiit_passport.Models.Passport

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

<form id="passportForm" method="post" asp-controller="Passport" asp-action="UpdatePassport1">
    <label asp-for="SessionId"></label>
    <input asp-for="SessionId" value="@Model.SessionId">
    <span asp-validation-for="SessionId" class="text-danger"></span>
    <label asp-for="OrdererName"></label>
    <input asp-for="OrdererName" value="">
    <span asp-validation-for="OrdererName" class="text-danger"></span>
    <label asp-for="TelegramTag"></label>
    <input asp-for="TelegramTag" value="">
    <span asp-validation-for="TelegramTag" class="text-danger"></span>
    <input type="hidden" id="telegramTag" name="telegramTag">
    <button type="submit">Update</button>
</form>

<form id="authenticationForm" method="post" asp-controller="Passport" asp-action="AuthenticationUser">
    <label asp-for="TelegramTag"></label>
    <input asp-for="TelegramTag" value="">
    <span asp-validation-for="TelegramTag" class="text-danger"></span>
    <button type="submit">Authentication</button>
</form>

@* <script> *@
@*     document.getElementById('passportForm').addEventListener('submit', function(event) { *@
@*         document.getElementById('telegramTag').value = document.getElementById('TelegramTag').value; *@
@*         event.preventDefault(); *@
@*     }); *@
@* </script> *@