@model Passport
<header>
    <section class="status_bar">
        <span class="digit past_digit">1</span>
        <span class="line"></span>
        <span class="digit past_digit">2</span>
        <span class="line"></span>
        <span class="digit past_digit">3</span>
        <span class="line"></span>
        <span class="digit current_digit">4</span>
        <span class="line"></span>
        <span class="digit">5</span>
    </section>
</header>
<section class="contacts">
    <form method="post" class="contacts_forms">
        <button type="submit" class="button_back" asp-action="ContactsToOthers" asp-controller="Passport">
            <img src="~/html/img/arrow-c-left-32-regular-white.png" alt="Назад">
        </button>
        <div class="contacts_block">
            <div class="head_form">
                <img src="~/html/img/major-logo/major_logo_dark.png" alt="Логотип ФИИТ" class="fiit_logo_head">
                <h1 class="head_form_text">Как с вами связаться?</h1>
            </div>
            <div class="name_customer_form" hidden="hidden">
                <label for="name_customer_input" class="name_customer_label" asp-for="SessionId">Сессия</label>
                <input type="text" id="name_customer_input" class="name_customer_input" placeholder="УрФУ, Иван Иванов" asp-for="SessionId">
            </div>
            <div class="name_form">
                <label class="name_label" asp-for="Name">Имя</label>
                <input type="text" id="name_input" class="name_input" placeholder="Иван" asp-for="Name">
            </div>
            <div class="last_name_form">
                <label class="last_name_label" asp-for="Surname">Фамилия</label>
                <input type="text" id="last_name_input" class="last_name_input" placeholder="Иванов" asp-for="Surname">
            </div>
            <div class="telegram_form">
                <label class="telegram_label" asp-for="TelegramTag">Telegram</label>
                <input type="text" id="telegram_input" class="telegram_input" asp-for="TelegramTag">
            </div>
            <div class="email_form">
                <label class="email_label" asp-for="Email">Email</label>
                <input type="email" id="email_input" class="email_input" placeholder="ivanovivan@mail.ru" asp-for="Email">
            </div>
            <div class="phone_form">
                <label class="phone_label" asp-for="PhoneNumber">Телефон</label>
                <input type="tel" id="phone_input" class="phone_input" placeholder="+7 (987) 654-32-10" asp-for="PhoneNumber">
            </div>
        </div>
        <button type="submit" class="button_next" asp-action="ContactsToCheck" asp-controller="Passport">
            <img src="~/html/img/arrow-c-right-32-regular-white.png" alt="Вперед">
        </button>
    </form>
</section>
<script src="~/js/phone_mask.js"></script>