@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" asp-controller="Passport" asp-action="UpdatePassport">
        <button type="submit">Сгенерировать</button>
    </form>
    <button ></button>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>