@font-face {
    font-family: 'FontRegular';
    src: url('font/golos-text_regular.woff2') format('woff2'),
    url('font/golos-text_regular.woff2') format('truetype');
}

@font-face {
    font-family: 'FontMedium';
    src: url('font/golos-text_medium.woff2') format('woff2'),
    url('font/golos-text_medium.woff2') format('truetype');
}

@font-face {
    font-family: 'FontDemiBold';
    src: url('font/golos-text_demibold.woff2') format('woff2'),
    url('font/golos-text_demibold.woff2') format('truetype');
}

@font-face {
    font-family: 'FontBold';
    src: url('font/golos-text_bold.woff2') format('woff2'),
    url('font/golos-text_bold.woff2') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body, header, footer {
    display: flex;
    flex-wrap: wrap;
    color: #110F2C;
    font: 1.5vw FontRegular;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: hidden;
}

.loading_page {
    background-image: url("../html/img/gradient.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fiit_brackets{
    width: 12vw;
    height: auto;
}

.percents{
    font: 4.5vw FontBold;
    color: #ffffff;
    position: absolute;
}

.block_project {
    width: 83vw;
    box-shadow: 0 0 50px 15px rgba(3, 8, 27, 0.1);
    background: #110f2c;
    padding-bottom: 6vw;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
}

.fiit_logo {
    width: 13vw;
    height: 16vw;
    margin-top: 6vw;
    margin-left: 7vw;
}

.project {
    width: 45vw;
    margin-top: 4vw;
    margin-left: 11vw;
    color: #ffffff;
}

.head_project {
    font: 3vw FontBold;
}

.text_project {
    margin-top: 3vw;
}

.block_business {
    background-image: linear-gradient(270.00deg, rgba(254, 37, 167, 0.5) 0.018%, rgb(254, 37, 167) 0.018%, rgb(163, 12, 255) 99.982%);
    background-color: rgba(17, 15, 44, 0.2);
    width: 83vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vw;
    border-radius: 20px;
    box-shadow: 0 0 50px 15px rgba(3, 8, 27, 0.1);
    color: #ffffff;
    box-sizing: border-box;
    padding-bottom: 4vw;
}

.head_business {
    font: 3vw FontBold;
    width: 32vw;
    margin-left: 7vw;
    margin-top: 3vw;
}

.text_business {
    width: 28vw;
    margin-left: 9vw;
    margin-top: 3vw;
}

.block_real_projects {
    width: 83vw;
    box-sizing: border-box;
    margin-top: 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head_real_projects {
    font: 3vw FontBold;
    margin-bottom: 0.8vw;
}

.real_project_text {
    width: 83vw;
    box-shadow: 0 0 50px 15px rgba(3, 8, 27, 0.1);
    box-sizing: border-box;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-top: 2.5vw;
    text-decoration: none;
    color: #110f2c;
    font: inherit;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head_real_project_text {
    width: 77vw;
    font: 2vw FontDemiBold;
}

.preview_real_project_text {
    margin-top: 2vw;
    width: 77vw;
}

.real_project_url {
    margin-top: 2.5vw;
    color: #A30CFF;
    text-decoration-color: #ddabff;

    &:hover {
        text-decoration-color: #A30CFF;
    }

    &:active {
        color: #FE25A7;
        text-decoration-color: #FE25A7;
    }
}

.fill_form {
    box-sizing: border-box;
    padding: 2vw 6vw;
    background-color: #1AB3D5;
    border-radius: 50px;
    color: #ffffff;
    font: 2vw FontDemiBold;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.2s;
    margin-top: 7vw;
    margin-bottom: 7vw;

    &:hover {
        background-color: #5FCAE2;
        box-shadow: 0 10px 50px 15px rgb(3, 8, 27, 0.15);
    }

    &:active {
        background-color: #0C4C65;
    }
}

.status_bar {
    width: 100vw;
    height: 5vw;
    margin-top: 1vw;
    margin-bottom: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    height: 0.5vw;
    width: 8vw;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 0 50px 10px rgb(3, 8, 27, 0.15);
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font: 2vw FontBold;
    width: 4vw;
    height: 4vw;
    border-radius: 100px;
    border: solid 0.4vw #ffffff;
    background-color: #a5a4a4;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.15);
    z-index: 0;
}

.current_digit {
    background-color: #1AB3D5;
}

.past_digit {
    background-color: #0C4C65;
}

.about_project, .about_project_forms, .details_project, .details_project_forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.others_project, .others_project_forms, .contacts, .contacts_forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-bottom: 5vw;
}

.about_project_block, .details_project_block, .others_project_block, .contacts_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 78vw;
    box-sizing: border-box;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.1);
    border-radius: 30px;
    padding-bottom: 2.5vw;
}

.head_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 71vw;
    height: 5vw;
    margin-top: 2.5vw;
}

.fiit_logo_head {
    width: auto;
    height: 5vw;
}

.head_form_text {
    font: 2.5vw FontBold;
    margin-left: 3vw;
}

.name_customer_form, .name_form, .last_name_form, .telegram_form, .email_form, .phone_form {
    margin-top: 1.5vw;
    display: flex;
    align-items: center;
    width: 71vw;
    height: 4vw;
}

.name_customer_label, .name_label, .last_name_label, .telegram_label, .email_label, .phone_label {
    font: 1.5vw FontMedium;
    width: 18vw;
}

.name_customer_input, .name_input, .last_name_input, .telegram_input, .email_input, .phone_input {
    width: 46vw;
    height: 4vw;
    margin-left: 7vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    border: solid 3px #a5a4a4;
    border-radius: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    outline: none;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.name_project_form, .result_project_form{
    width: 71vw;
    margin-top: 1.5vw;
    display: flex;
}

.name_project_input, .result_project_input {
    width: 46vw;
    height: auto;
    min-height: 4vw;
    margin-left: 7vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    border: solid 3px #a5a4a4;
    border-radius: 5px;
    padding: 0.7vw 1vw 0;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.description_project_form, .goal_project_form{
    width: 71vw;
    margin-top: 1.5vw;
    display: flex;
}

.description_project_label, .goal_project_label, .criteria_project_label, .name_project_label, .result_project_label {
    font: 1.5vw FontMedium;
    width: 18vw;
    margin-top: 0.7vw;
}

.description_project_input, .goal_project_input {
    width: 46vw;
    margin-left: 7vw;
    min-height: 9vw;
    font: 1.5vw FontRegular;
    color: #110F2C;
    box-sizing: border-box;
    padding: 0.4vw 1vw;
    border-radius: 5px;
    border: 3px solid #a5a4a4;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.examples {
    width: 100vw;
    margin-top: 3vw;
    display: flex;
    flex-wrap: wrap;
}

.examples_head {
    color: #1AB3D5;
    font: 2vw FontBold;
    margin-left: 11vw;
    width: 31vw;
}

.example_blocks {
    display: flex;
    align-items: stretch;
    width: 100vw;
    margin-bottom: 5vw;
}

.example_block {
    width: 78vw;
    box-sizing: border-box;
    padding: 2.5vw;
    margin-top: 2.5vw;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.1);
    border-radius: 30px;
    display: none;
    flex-direction: column;
}

.ex_left_block {
    width: 7vw;
    height: calc(100% - 2.5vw);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4vw;
    margin-top: 2.5vw;
    background-color: #ffffff;
    transition: box-shadow 0.2s;

    &:hover {
        background-color: #f6f6f6;
        box-shadow: 0 0 55px 20px rgb(3, 8, 27, 0.15);
        cursor: pointer;
    }

    &:active {
        background-color: #D9D9D9;
    }
}

.ex_right_block {
    width: 7vw;
    height: calc(100% - 2.5vw);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: none;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
    margin-top: 2.5vw;
    background-color: #ffffff;
    transition: box-shadow 0.2s;

    &:hover {
        background-color: #f6f6f6;
        box-shadow: 0 0 55px 20px rgb(3, 8, 27, 0.15);
        cursor: pointer;
    }

    &:active {
        background-color: #D9D9D9;
    }
}

.next_block, .back_block {
    width: 5vw;
    height: 5vw;
}

.name_project_block, .description_project_block, .goal_project_block, .result_project_block, .criteria_project_block {
    width: 71vw;
    display: flex;
}

.name_project, .description_project, .goal_project, .result_project, .criteria_project{
    font: 1.5vw FontMedium;
    color: #1AB3D5;
    width: 24vw;
}

.name_project_text, .goal_project_text, .result_project_text {
    width: 46vw;
    margin-left: 1.5vw;
    margin-bottom: 1.5vw;
}

.description_project_text, .criteria_project_text {
    width: 46vw;
    margin-left: 1.5vw;
}

.button_back {
    background-color: #1AB3D5;
    border: none;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    width: 5vw;
    height: 9vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;

    &:hover {
        background-color: #5FCAE2;
        cursor: pointer;
    }

    &:active {
        background-color: #0C4C65;
    }
}

.button_back img {
    width: 5vw;
    height: 5vw;
    margin-left: -0.8vw;
}

.button_next {
    background-color: #1AB3D5;
    border: none;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    width: 5vw;
    height: 9vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;

    &:hover {
        background-color: #5FCAE2;
        cursor: pointer;
    }

    &:active {
        background-color: #0C4C65;
    }

    &:disabled {
        background-color: #a5a4a4;
    }
}

.button_next img {
    width: 5vw;
    height: 5vw;
    margin-left: 0.6vw;
}

.criteria_project_form {
    width: 71vw;
    margin-top: 1.5vw;
    display: flex;
}

.criteria_project_input {
    width: 46vw;
    margin-left: 7vw;
    min-height: 11vw;
    font: 1.5vw FontRegular;
    color: #110F2C;
    box-sizing: border-box;
    padding: 0.4vw 1vw;
    border-radius: 5px;
    border: 3px solid #a5a4a4;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.max_form {
    width: 71vw;
    height: 5vw;
    display: flex;
    margin-top: 1.5vw;
}

.max_label, .address_label{
    font: 1.5vw FontMedium;
    width: 18vw;
}

.max_input {
    width: 7vw;
    height: 3vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    text-align: center;
    border: solid 3px #a5a4a4;
    outline: none;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.max_minus {
    width: 4vw;
    height: 3vw;
    margin-left: 7vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #D9D9D9;
    border: none;

    &:hover {
        background-color:#a5a4a4;
    }

    &:active {
        background-color: #1AB3D5;
    }
}

.max_plus {
    width: 4vw;
    height: 3vw;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #D9D9D9;
    border: none;

    &:hover {
        background-color:#a5a4a4;
    }

    &:active {
        background-color: #1AB3D5;
    }
}

.max_minus img, .max_plus img {
    width: 2vw;
    height: 2vw;
    margin-top: 0.5vw;
    margin-left: 0.1vw;
}

.max_text {
    width: 71vw;
    height: 5vw;
    font: 1.3vw FontRegular;
    margin-top: 1vw;
}

.address_form {
    width: 71vw;
    height: 9vw;
    display: flex;
    margin-top: 1.5vw;
}

.address_input {
    width: 46vw;
    height: 4vw;
    margin-left: 7vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    border: solid 3px #a5a4a4;
    border-radius: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    outline: none;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.address_text {
    width: 71vw;
    height: 3vw;
    font: 1.3vw FontRegular;
    margin-top: 1vw;
}

.check_request, .check_request_forms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
}

.check_request_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 78vw;
    box-sizing: border-box;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.1);
    border-radius: 30px;
    padding-bottom: 2.5vw;
    margin-left: 6vw;
}

.button_send {
    box-sizing: border-box;
    padding: 1vw 4vw;
    background-color: #1AB3D5;
    border-radius: 50px;
    color: #ffffff;
    font: 2vw FontDemiBold;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.2s;
    margin: 5vw auto;

    &:hover {
        background-color: #5FCAE2;
        box-shadow: 0 10px 50px 15px rgb(3, 8, 27, 0.15);
    }

    &:active {
        background-color: #0C4C65;
    }
}

.request_send, .request_check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.request_send_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 78vw;
    box-sizing: border-box;
    box-shadow: 0 0 50px 20px rgb(26, 179, 213, 0.3);
    border-radius: 30px;
    padding-bottom: 3.5vw;
    margin-top:4vw;
    margin-bottom: 7vw;
}

.name_customer_section, .name_project_section, .description_project_section, .goal_project_section, .result_project_section, .criteria_project_section, .max_section, .address_section, .name_section, .last_name_section, .telegram_section, .email_section, .phone_section {
    width: 71vw;
    display: flex;
    margin-top: 1.5vw;
}

.name_customer_value, .name_project_value, .description_project_value, .goal_project_value, .result_project_value, .criteria_project_value, .max_value, .address_value, .name_value, .last_name_value, .telegram_value, .email_value, .phone_value {
    width: 46vw;
    margin-left: 7vw;
}

.name_customer_head, .name_project_head, .description_project_head, .goal_project_head, .result_project_head, .criteria_project_head, .max_head, .address_head, .name_head, .last_name_head, .telegram_head, .email_head, .phone_head {
    font: 1.5vw FontMedium;
    width: 18vw;
}

.request_check_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 78vw;
    box-sizing: border-box;
    box-shadow: 0 0 50px 20px rgb(163, 12, 255, 0.3);
    border-radius: 30px;
    padding-bottom: 3.5vw;
    margin-top:4vw;
    margin-bottom: 7vw;
}

.request_checked, .edit_request {
    display: flex;
    width: 100vw;
}

.request_checked_block, .edit_request_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 68vw;
    box-sizing: border-box;
    box-shadow: 0 0 50px 15px rgba(3, 8, 27, 0.1);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-bottom: 3.5vw;
    margin: 4vw 0 5vw 3vw;
}

aside {
    height: calc(100% - 18.35vw);
    width: 25vw;
    background-color: #FFD3ED;
    margin-top: 4vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 15px -15px 50px rgba(3, 8, 27, 0.1), 15px 15px 50px rgba(3, 8, 27, 0.1);
}

.head_form_cr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 62vw;
    height: 5vw;
    margin-top: 2.5vw;
}

.name_customer_section_cr, .name_project_section_cr, .description_project_section_cr, .goal_project_section_cr, .result_project_section_cr, .criteria_project_section_cr, .max_section_cr, .address_section_cr, .name_section_cr, .last_name_section_cr, .telegram_section_cr, .email_section_cr, .phone_section_cr {
    width: 62vw;
    display: flex;
    margin-top: 1.5vw;
}

.name_customer_head_cr, .name_project_head_cr, .description_project_head_cr, .goal_project_head_cr, .result_project_head_cr, .criteria_project_head_cr, .max_head_cr, .address_head_cr, .name_head_cr, .last_name_head_cr, .telegram_head_cr, .email_head_cr, .phone_head_cr {
    font: 1.5vw FontMedium;
    width: 18vw;
}

.name_customer_value_cr, .name_project_value_cr, .description_project_value_cr, .goal_project_value_cr, .result_project_value_cr, .criteria_project_value_cr, .max_value_cr, .address_value_cr, .name_value_cr, .last_name_value_cr, .telegram_value_cr, .email_value_cr, .phone_value_cr {
    width: 38vw;
    margin-left: 6vw;
}

.button_edit, .send_button {
    box-sizing: border-box;
    padding: 1vw 4vw;
    background-color: #FE25A7;
    border-radius: 50px;
    color: #ffffff;
    font: 2vw FontDemiBold;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.2s;
    margin-bottom: 5vw;
    margin-left: 27vw;

    &:hover {
        background-color: #ff54bb;
        box-shadow: 0 10px 50px 15px rgb(3, 8, 27, 0.15);
    }

    &:active {
        background-color: #B31E7D;
    }
}

.selected_text {
    background-color: #FE25A7;
    color: #ffffff;

    &:hover {
        background-color: #ff54bb;
    }
}

.comment_icon_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 6vw;
    margin-left: 3vw;
}

.comment_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25vw;
    list-style: none;
}

.comment {
    width: 22vw;
    border-radius: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 1.5vw;
    position: absolute;
    margin-bottom: 0;
    transition: margin-left 0.3s;

    &:hover {
        cursor: pointer;
    }
}

.comment.active {
    margin-left: -5vw;
    box-shadow: 0 0 20px 2px rgba(3, 8, 27, 0.1);
}

.selected_text.active {
    background-color: #B31E7D;
}

.name_customer_form_cr, .name_form_cr, .last_name_form_cr, .telegram_form_cr, .email_form_cr, .phone_form_cr {
    margin-top: 1.5vw;
    display: flex;
    align-items: center;
    width: 62vw;
    height: 4vw;
}

.name_customer_label_cr, .name_label_cr, .last_name_label_cr, .telegram_label_cr, .email_label_cr, .phone_label_cr {
    font: 1.5vw FontMedium;
    width: 18vw;
}

.name_customer_input_cr, .name_input_cr, .last_name_input_cr, .telegram_input_cr, .email_input_cr, .phone_input_cr {
    width: 38vw;
    height: 4vw;
    margin-left: 7vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    border: solid 3px #a5a4a4;
    border-radius: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    outline: none;

    &:focus {
        border-color: #FE25A7;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.name_project_form_cr, .result_project_form_cr {
    width: 62vw;
    margin-top: 1.5vw;
    display: flex;
}

.name_project_input_cr {
    width: 38vw;
    height: auto;
    min-height: 4vw;
    margin-left: 7vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    border: solid 3px #a5a4a4;
    border-radius: 5px;
    padding: 0.7vw 1vw 0;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #FE25A7;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.description_project_form_cr, .goal_project_form_cr {
    width: 62vw;
    margin-top: 1.5vw;
    display: flex;
}

.description_project_label_cr, .goal_project_label_cr, .criteria_project_label_cr, .name_project_label_cr, .result_project_label_cr {
    font: 1.5vw FontMedium;
    width: 18vw;
    margin-top: 0.7vw;
}

.description_project_input_cr {
    width: 38vw;
    margin-left: 7vw;
    min-height: 9vw;
    font: 1.5vw FontRegular;
    color: #110F2C;
    box-sizing: border-box;
    padding: 0.4vw 1vw;
    border-radius: 5px;
    border: 3px solid #a5a4a4;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #FE25A7;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.max_form_cr {
    width: 62vw;
    height: 5vw;
    display: flex;
    margin-top: 1.5vw;
}

.address_form_cr {
    width: 62vw;
    height: 9vw;
    display: flex;
    margin-top: 1.5vw;
}

.max_label_cr, .address_label_cr{
    font: 1.5vw FontMedium;
    width: 18vw;
}

.address_input_cr {
    width: 38vw;
    height: 4vw;
    margin-left: 7vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    border: solid 3px #a5a4a4;
    border-radius: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    outline: none;

    &:focus {
        border-color: #FE25A7;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.criteria_project_form_cr {
    width: 62vw;
    margin-top: 1.5vw;
    display: flex;
}

.criteria_project_input_cr {
    width: 38vw;
    margin-left: 7vw;
    min-height: 12vw;
    font: 1.5vw FontRegular;
    color: #110F2C;
    box-sizing: border-box;
    padding: 0.4vw 1vw;
    border-radius: 5px;
    border: 3px solid #a5a4a4;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #FE25A7;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.goal_project_input_cr {
    width: 38vw;
    margin-left: 7vw;
    min-height: 11vw;
    font: 1.5vw FontRegular;
    color: #110F2C;
    box-sizing: border-box;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    border: 3px solid #a5a4a4;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #FE25A7;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.result_project_input_cr {
    width: 38vw;
    height: auto;
    min-height: 5vw;
    margin-left: 7vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    border: solid 3px #a5a4a4;
    border-radius: 5px;
    padding: 0.5vw 1vw 0;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #FE25A7;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.max_input_cr {
    width: 7vw;
    height: 3vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    text-align: center;
    border: solid 3px #a5a4a4;
    outline: none;

    &:focus {
        border-color: #FE25A7;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.max_minus_cr {
    width: 4vw;
    height: 3vw;
    margin-left: 7vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #D9D9D9;
    border: none;

    &:hover {
        background-color:#a5a4a4;
    }

    &:active {
        background-color: #FE25A7;
    }
}

.max_plus_cr {
    width: 4vw;
    height: 3vw;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #D9D9D9;
    border: none;

    &:hover {
        background-color:#a5a4a4;
    }

    &:active {
        background-color: #FE25A7;
    }
}

.max_minus_cr img, .max_plus_cr img {
    width: 2vw;
    height: 2vw;
    margin-top: 0.5vw;
    margin-left: 0.1vw;
}

.header_admin {
    display: flex;
    background-color: #E7EDF0;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    overflow: hidden;
}

.head_buttons {
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.accept_request {
    display: flex;
    background-color: #0C4C65;
    color: #ffffff;
    font: 1.5vw FontRegular;
    border: none;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 0.6vw 2vw;
}

.add_person {
    display: flex;
    background-color: #0C4C65;
    color: #ffffff;
    font: 1.5vw FontRegular;
    border: none;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 0.6vw 2vw;
    margin-left: 1.5vw;
    margin-right: 2.5vw;
}

.add_person img {
    width: 1.7vw;
    height: 1.7vw;
    margin-right: 0.8vw;
}

.admin_board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95vw;
    margin-bottom: 4vw;
}

.head_admin {
    font: 2.5vw FontBold;
    width: 95vw;
    margin-top: 3.5vw;
    margin-bottom: 2.5vw;
}

.send {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 31vw;
    min-height: 52.5vw;
    background-color: #FFD3ED;
    border-radius: 10px;
}

.send_head {
    display: flex;
    justify-content: flex-start;
    width: 27vw;
    height: max-content;
    margin-top: 1.5vw;
}

.send_text {
    background-color: #FE25A7;
    border-radius: 100px;
    height: max-content;
    max-width: 20vw;
    padding: 1vw 2.5vw;
    color: #ffffff;
    font: 1.5vw FontDemiBold;
    margin-right: 1.5vw;
    flex: 1;
    white-space: nowrap;
}

.send_count {
    background-color: #FE25A7;
    border-radius: 100px;
    height: max-content;
    max-width: 5vw;
    padding: 1vw 2vw;
    color: #ffffff;
    font: 1.5vw FontDemiBold;
}

.checking {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 31vw;
    min-height: 52.5vw;
    background-color: #EDCEFF;
    border-radius: 10px;
}

.checking_head {
    display: flex;
    justify-content: flex-start;
    width: 27vw;
    height: max-content;
    margin-top: 1.5vw;
}

.checking_text {
    background-color: #A30CFF;
    border-radius: 100px;
    height: max-content;
    max-width: 20vw;
    padding: 1vw 2.5vw;
    color: #ffffff;
    font: 1.5vw FontDemiBold;
    margin-right: 1.5vw;
    flex: 1;
    white-space: nowrap;
}

.checking_count {
    background-color: #A30CFF;
    border-radius: 100px;
    height: max-content;
    max-width: 5vw;
    padding: 1vw 2vw;
    color: #ffffff;
    font: 1.5vw FontDemiBold;
}

.checked {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 31vw;
    min-height: 52.5vw;
    background-color: #D1F0F7;
    border-radius: 10px;
}

.checked_head {
    display: flex;
    justify-content: flex-start;
    width: 27vw;
    height: max-content;
    margin-top: 1.5vw;
}

.checked_text {
    background-color: #1AB3D5;
    border-radius: 100px;
    height: max-content;
    max-width: 20vw;
    padding: 1vw 2.5vw;
    color: #ffffff;
    font: 1.5vw FontDemiBold;
    margin-right: 1.5vw;
    flex: 1;
    white-space: nowrap;
}

.checked_count {
    background-color: #1AB3D5;
    border-radius: 100px;
    height: max-content;
    max-width: 5vw;
    padding: 1vw 2vw;
    color: #ffffff;
    font: 1.5vw FontDemiBold;
}

.send_list, .checking_list, .checked_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 27vw;
    list-style: none;
}

.request {
    background-color: #ffffff;
    height: max-content;
    width: 27vw;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2vw 2.5vw;
    font-family: FontMedium;
    margin-top: 2vw;
}

.second_check{
    width: max-content;
    font: 1.3vw FontRegular;
    color: #ffffff;
    background-color: #FE7CCA;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 0.2vw 1vw;
    margin-top: 1vw;
}
