@font-face {
    font-family: 'FontRegular';
    src: url('font/Golos Text_Regular.ttf') format('ttf'),
    url('font/Golos Text_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'FontMedium';
    src: url('font/Golos Text_Medium.ttf') format('ttf'),
    url('font/Golos Text_Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'FontDemiBold';
    src: url('font/Golos Text_DemiBold.ttf') format('ttf'),
    url('font/Golos Text_DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'FontBold';
    src: url('font/Golos Text_Bold.ttf') format('ttf'),
    url('font/Golos Text_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'FontBlack';
    src: url('font/Golos Text_Black.ttf') format('ttf'),
    url('font/Golos Text_Black.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body, header, footer {
    display: flex;
    flex-wrap: wrap;
    color: #110F2C;
    font: 1.5vw FontRegular;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: hidden;
}

.loading_page {
    background-image: url("../html/img/gradient.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fiit_brackets{
    width: 12vw;
    height: auto;
}

.percents{
    font: 4.5vw FontBold;
    color: #ffffff;
    position: absolute;
}

.block_project {
    width: 83vw;
    height: max-content;
    box-shadow: 0 0 50px 15px rgba(3, 8, 27, 0.1);
    background: #110f2c;
    padding-bottom: 6vw;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
}

.fiit_logo {
    width: 13vw;
    height: 16vw;
    margin-top: 6vw;
    margin-left: 7vw;
}

.project {
    width: 45vw;
    margin-top: 4vw;
    margin-left: 11vw;
    color: #ffffff;
}

.head_project {
    font: 3vw FontBold;
}

.text_project {
    margin-top: 3vw;
}

.block_business {
    background-image: linear-gradient(270.00deg, rgba(254, 37, 167, 0.5) 0.018%, rgb(254, 37, 167) 0.018%, rgb(163, 12, 255) 99.982%);
    background-color: rgba(17, 15, 44, 0.2);
    width: 83vw;
    height: max-content;display: flex;
    flex-wrap: wrap;
    margin-top: 4vw;
    border-radius: 20px;
    box-shadow: 0 0 50px 15px rgba(3, 8, 27, 0.1);
    color: #ffffff;
    box-sizing: border-box;
    padding-bottom: 4vw;
}

.head_business {
    font: 3vw FontBold;
    width: 32vw;
    margin-left: 7vw;
    margin-top: 3vw;
}

.text_business {
    width: 28vw;
    margin-left: 9vw;
    margin-top: 3vw;
}

.block_real_projects {
    width: 83vw;
    height: max-content;
    box-sizing: border-box;
    margin-top: 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head_real_projects {
    font: 3vw FontBold;
    margin-bottom: 0.8vw;
}

.real_project_text {
    width: 83vw;
    height: max-content;
    box-shadow: 0 0 50px 15px rgba(3, 8, 27, 0.1);
    box-sizing: border-box;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-top: 2.5vw;
    text-decoration: none;
    color: #110f2c;
    font: inherit;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head_real_project_text {
    width: 77vw;
    font: 2vw FontDemiBold;
}

.preview_real_project_text {
    margin-top: 2vw;
    width: 77vw;
}

.real_project_url {
    margin-top: 2.5vw;
    color: #A30CFF;
    text-decoration-color: #ddabff;

    &:hover {
        text-decoration-color: #A30CFF;
    }

    &:active {
        color: #FE25A7;
        text-decoration-color: #FE25A7;
    }
}

.fill_form {
    width: max-content;
    height: max-content;
    box-sizing: border-box;
    padding: 2vw 6vw;
    background-color: #1AB3D5;
    border-radius: 50px;
    color: #ffffff;
    font: 2vw FontDemiBold;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.2s;
    margin-top: 7vw;
    margin-bottom: 7vw;

    &:hover {
        background-color: #5FCAE2;
        box-shadow: 0 10px 50px 15px rgb(3, 8, 27, 0.15);
    }

    &:active {
        background-color: #0C4C65;
    }
}

.status_bar {
    width: 100vw;
    height: 5vw;
    margin-top: 1vw;
    margin-bottom: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    height: 0.5vw;
    width: 8vw;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 0 50px 10px rgb(3, 8, 27, 0.15);
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font: 2vw FontBold;
    width: 4vw;
    height: 4vw;
    border-radius: 100px;
    border: solid 0.4vw #ffffff;
    background-color: #a5a4a4;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.15);
    z-index: 0;
}

.current_digit {
    background-color: #1AB3D5;
}

.past_digit {
    background-color: #0C4C65;
}

.about_project, .details_project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.others_project, .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-bottom: 5vw;
}

.about_project_block, .details_project_block, .others_project_block, .contacts_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 78vw;
    height: max-content;
    box-sizing: border-box;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.1);
    border-radius: 30px;
    padding-bottom: 2.5vw;
}

.head_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 71vw;
    height: 5vw;
    margin-top: 2.5vw;
}

.fiit_logo_head {
    width: auto;
    height: 5vw;
}

.head_form_text {
    font: 2.5vw FontBold;
    margin-left: 3vw;
}

.name_customer_form, .name_form, .last_name_form, .telegram_form, .email_form, .phone_form {
    margin-top: 1.5vw;
    display: flex;
    align-items: center;
    width: 71vw;
    height: 4vw;
}

.name_customer_label, .name_label, .last_name_label, .telegram_label, .email_label, .phone_label {
    font: 1.5vw FontMedium;
    width: 18vw;
}

.name_customer_input, .name_input, .last_name_input, .telegram_input, .email_input, .phone_input {
    width: 46vw;
    height: 4vw;
    margin-left: 7vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    border: solid 3px #a5a4a4;
    border-radius: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    outline: none;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.name_project_form, .result_project_form{
    width: 71vw;
    height: max-content;
    margin-top: 1.5vw;
    display: flex;
}

.name_project_input, .result_project_input {
    width: 46vw;
    height: auto;
    min-height: 4vw;
    margin-left: 7vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    border: solid 3px #a5a4a4;
    border-radius: 5px;
    padding: 0.7vw 1vw 0;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.description_project_form, .goal_project_form{
    width: 71vw;
    height: max-content;
    margin-top: 1.5vw;
    display: flex;
}

.description_project_label, .goal_project_label, .criteria_project_label, .name_project_label, .result_project_label {
    font: 1.5vw FontMedium;
    width: 18vw;
    margin-top: 0.7vw;
}

.description_project_input, .goal_project_input {
    width: 46vw;
    margin-left: 7vw;
    min-height: 9vw;
    font: 1.5vw FontRegular;
    color: #110F2C;
    box-sizing: border-box;
    padding: 0.4vw 1vw;
    border-radius: 5px;
    border: 3px solid #a5a4a4;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.examples {
    width: 100vw;
    height: max-content;
    margin-top: 2.5vw;
    display: flex;
    flex-wrap: wrap;
}

.examples_head {
    color: #1AB3D5;
    font: 2vw FontBold;
    margin-left: 11vw;
    width: 31vw;
}

.example_blocks {
    display: flex;
    align-items: stretch;
    width: 100vw;
    height: max-content;
    margin-bottom: 5vw;
}

.example_block {
    width: 78vw;
    height: max-content;
    box-sizing: border-box;
    padding: 2.5vw;
    margin-top: 2.5vw;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.1);
    border-radius: 30px;
    display: none;
    flex-direction: column;
}

.ex_left_block {
    width: 7vw;
    height: calc(100% - 2.5vw);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4vw;
    margin-top: 2.5vw;
    background-color: #ffffff;
    transition: box-shadow 0.2s;

    &:hover {
        background-color: #f6f6f6;
        box-shadow: 0 0 55px 20px rgb(3, 8, 27, 0.15);
        cursor: pointer;
    }

    &:active {
        background-color: #D9D9D9;
    }
}

.ex_right_block {
    width: 7vw;
    height: calc(100% - 2.5vw);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: none;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
    margin-top: 2.5vw;
    background-color: #ffffff;
    transition: box-shadow 0.2s;

    &:hover {
        background-color: #f6f6f6;
        box-shadow: 0 0 55px 20px rgb(3, 8, 27, 0.15);
        cursor: pointer;
    }

    &:active {
        background-color: #D9D9D9;
    }
}

.next_block, .back_block {
    width: 5vw;
    height: 5vw;
}

.name_project_block, .description_project_block, .goal_project_block, .result_project_block, .criteria_project_block{
    width: 71vw;
    height: max-content;
    display: flex;
}

.name_project, .description_project, .goal_project, .result_project, .criteria_project{
    font: 1.5vw FontMedium;
    color: #1AB3D5;
    width: 24vw;
}

.name_project_text, .goal_project_text, .result_project_text {
    width: 46vw;
    height: max-content;
    margin-left: 1.5vw;
    margin-bottom: 1.5vw;
}

.description_project_text, .criteria_project_text {
    width: 46vw;
    height: max-content;
    margin-left: 1.5vw;
}

.button_back {
    background-color: #1AB3D5;
    border: none;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    width: 6vw;
    height: 11vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;

    &:hover {
        background-color: #5FCAE2;
        cursor: pointer;
    }

    &:active {
        background-color: #0C4C65;
    }
}

.button_back img {
    width: 6vw;
    height: 6vw;
    margin-left: -0.8vw;
}

.button_next {
    background-color: #1AB3D5;
    border: none;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    width: 6vw;
    height: 11vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;

    &:hover {
        background-color: #5FCAE2;
        cursor: pointer;
    }

    &:active {
        background-color: #0C4C65;
    }
}

.button_next img {
    width: 6vw;
    height: 6vw;
    margin-left: 0.6vw;
}

.criteria_project_form {
    width: 71vw;
    height: max-content;
    margin-top: 1.5vw;
    display: flex;
}

.criteria_project_input {
    width: 46vw;
    margin-left: 7vw;
    min-height: 11vw;
    font: 1.5vw FontRegular;
    color: #110F2C;
    box-sizing: border-box;
    padding: 0.4vw 1vw;
    border-radius: 5px;
    border: 3px solid #a5a4a4;
    outline: none;
    resize: none;
    overflow-y: hidden;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.max_form {
    width: 71vw;
    height: 5vw;
    display: flex;
    margin-top: 1.5vw;
}

.max_label, .address_label{
    font: 1.5vw FontMedium;
    width: 18vw;
}

.max_input {
    width: 7vw;
    height: 3vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    text-align: center;
    border: solid 3px #a5a4a4;
    outline: none;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.max_minus {
    width: 4vw;
    height: 3vw;
    margin-left: 4vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #D9D9D9;
    border: none;

    &:hover {
        background-color:#a5a4a4;
    }

    &:active {
        background-color: #1AB3D5;
    }
}

.max_plus {
    width: 4vw;
    height: 3vw;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #D9D9D9;
    border: none;

    &:hover {
        background-color:#a5a4a4;
    }

    &:active {
        background-color: #1AB3D5;
    }
}

.max_minus img, .max_plus img {
    width: 2vw;
    height: 2vw;
    margin-top: 0.5vw;
    margin-left: 0.1vw;
}

.max_text {
    width: 71vw;
    height: 5vw;
    font: 1.3vw FontRegular;
    margin-top: 1vw;
}
.address_form {
    width: 71vw;
    height: 9vw;
    display: flex;
    margin-top: 1.5vw;
}

.address_input {
    width: 46vw;
    height: 4vw;
    margin-left: 7vw;
    box-sizing: border-box;
    font: 1.5vw FontRegular;
    color: #110f2c;
    border: solid 3px #a5a4a4;
    border-radius: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    outline: none;

    &:focus {
        border-color: #1AB3D5;
    }

    &::placeholder {
        color: #a5a4a4;
    }

    &:focus::placeholder {
        color: #dbdbdb;
    }
}

.address_text {
    width: 71vw;
    height: 3vw;
    font: 1.3vw FontRegular;
    margin-top: 1vw;
}

.check_request {
    display: flex;
    align-items: center;
    width: 100vw;
}

.check_request_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 78vw;
    height: max-content;
    box-sizing: border-box;
    box-shadow: 0 0 50px 15px rgb(3, 8, 27, 0.1);
    border-radius: 30px;
    padding-bottom: 2.5vw;
    margin-left: 6vw;
}

.button_send {
    width: max-content;
    height: max-content;
    box-sizing: border-box;
    padding: 1vw 4vw;
    background-color: #1AB3D5;
    border-radius: 50px;
    color: #ffffff;
    font: 2vw FontDemiBold;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.2s;
    margin-top: 5vw;
    margin-bottom: 5vw;

    &:hover {
        background-color: #5FCAE2;
        box-shadow: 0 10px 50px 15px rgb(3, 8, 27, 0.15);
    }

    &:active {
        background-color: #0C4C65;
    }
}

.request_send {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.request_send_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 78vw;
    height: max-content;
    box-sizing: border-box;
    box-shadow: 0 0 50px 20px rgb(26, 179, 213, 0.3);
    border-radius: 30px;
    padding-bottom: 3.5vw;
    margin-top:4vw;
    margin-bottom: 7vw;
}